.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures


.classpath
.settings/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
/*/build/
.idea/
local.properties
proguard/
*.log
*.iml

